{% ckan_extends %}

{% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
  <li>{% link_for c.group_dict.display_name|truncate(35), action='read', id=c.group_dict.name,
    controller='ckanext.metadata.controllers.organization:OrganizationController' %}</li>
  <li class="active">{% link_for _('Manage'), controller='organization', action='edit', id=organization.name %}</li>
{% endblock %}

{% block content_action %}
  {% if organization and h.check_access('organization_update', {'id': organization.id}) %}
    {% link_for _('View'), controller='ckanext.metadata.controllers.organization:OrganizationController',
      action='read', id=organization.name, class_='btn', icon='eye' %}
  {% endif %}
{% endblock %}
