{% ckan_extends %}

{% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
  <li class="active">{% link_for c.group_dict.display_name|truncate(35), action='read', id=c.group_dict.name,
    controller='ckanext.metadata.controllers.organization:OrganizationController' %}</li>
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('organization_read', _('Metadata Collections'), id=c.group_dict.name) }}
  {{ h.build_nav_icon('organization_datasets', _('Datasets'), id=c.group_dict.name) }}
  {{ h.build_nav_icon('organization_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
  {{ h.build_nav_icon('organization_about', _('About'), id=c.group_dict.name) }}
{% endblock %}
