  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-lg fa-info-circle"></i>
      {{ _('What are attribute mappings?') }}
    </h2>
    <div class="module-content">
      {% trans %}
        <p>An attribute mapping is a one-to-one mapping from a metadata JSON element to
          a metadata record attribute. It applies whenever a metadata record is created
          or updated, causing the value of the specified JSON element to be copied into
          the mapped attribute.</p>
      {% endtrans %}
    </div>
  </div>
