<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Metadata Standards?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        A Metadata Standard represents a published standard such as DataCite or Dublin Core.
        The syntactic and semantic rules for a standard - which are used to validate metadata
        records - may be defined in one or more metadata schemas associated with a metadata
        standard.
      {% endtrans %}
    </p>
  </div>
</div>