{% ckan_extends %}

{% block primary_content %}
<div role="main" class="hero">
    <div class="container">
        <div class="module-content box">
            <header>
                <h1 class="page-heading">{{ _("ODP Metadata Management System") }}</h1>
                <p>
                    {% trans %}
                    Welcome to the SAEON Open Data Platform Metadata Management System!
                    {% endtrans %}
                </p>
            </header>
        </div>
    </div>
</div>
<div role="main"></div>
{% endblock %}
