{% extends "page.html" %}

{% block subtitle %}{{ _('Metadata Collections') }}{% endblock %}

{% block breadcrumb_content %}
  {% snippet "metadata_collection/snippets/breadcrumb_content_outer.html" %}
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('metadata_collection_create') %}
    {% link_for _('Add Metadata Collection'), controller='ckanext.metadata.controllers.metadata_collection:MetadataCollectionController',
      organization_id=c.org_dict.name, action='new', class_='btn btn-primary', icon='plus-square' %}
  {% endif %}
  {% link_for _('Back to organization'), controller='ckanext.metadata.controllers.organization:OrganizationController',
    action='read', id=c.org_dict.name, class_='btn pull-right', icon='arrow-left' %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{{ _('Metadata Collection') }}</h1>
  {% block groups_search_form %}
    {% snippet 'snippets/search_form.html', form_id='group-search-form', type='metadata_collection', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search metadata collections...'), show_empty=request.params, no_bottom_border=true if c.page.items, sorting = [(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
  {% endblock %}
  {% block groups_list %}
    {% if c.page.items or request.params %}
      {% if c.page.items %}
        {% snippet "metadata_collection/snippets/group_list.html", groups=c.page.items %}
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no metadata collections for this site') }}.
        {% if h.check_access('metadata_collection_create') %}
          {% link_for _('How about creating one?'), controller='ckanext.metadata.controllers.metadata_collection:MetadataCollectionController',
            organization_id=c.org_dict.name, action='new' %}.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ c.page.pager(q=c.q or '', sort=c.sort_by_selected or '') }}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% snippet "metadata_collection/snippets/helper.html" %}
{% endblock %}
