{% extends "group/read.html" %}

{% block subtitle %}{{ h.get_translated(c.group_dict, 'title') or c.group_dict.display_name }} - {{ _('Metadata Collections') }}{% endblock %}

{% block breadcrumb_content %}
  {% snippet "metadata_collection/snippets/breadcrumb_content_outer.html" %}
  {% snippet "metadata_collection/snippets/breadcrumb_content_item.html" %}
{% endblock %}

{% block content_action %}
  {% snippet "metadata_collection/snippets/group_action_manage.html" %}
{% endblock %}

{% block content_primary_nav %}
  {% snippet "metadata_collection/snippets/group_nav_read.html" %}
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('metadata_record_create') %}
    {% link_for _('Add Metadata Record'), action='new', class_='btn btn-primary', icon='plus-square',
      organization_id=c.org_dict.name, metadata_collection_id=c.group_dict.name,
      controller='ckanext.metadata.controllers.metadata_record:MetadataRecordController' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  {% if c.page.items %}
    {{ h.snippet('metadata_record/snippets/metadata_record_list.html', metadata_records=c.page.items, organization_id=c.org_dict.name, metadata_collection_id=c.group_dict.name) }}
  {% endif %}
  {{ c.page.pager(q=c.q, organization_id=c.org_dict.name) }}
{% endblock %}

{% block secondary_content %}
  {% snippet "metadata_collection/snippets/info.html", group=c.group_dict, show_nums=true %}
  {% snippet "metadata_collection/snippets/filters.html" %}
{% endblock %}
