  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-lg fa-info-circle"></i>
      {{ _('What are workflow annotations?') }}
    </h2>
    <div class="module-content">
      {% trans %}
        <p>Workflow annotations are additional pieces of information that may be attached to a metadata record,
          such as quality control or data agreement checks. A workflow state can define specific rules about
          the structure and accepted values of such annotations, with which a metadata record (augmented with
          its annotations) must comply in order to be able to transition to that state.</p>
      {% endtrans %}
    </div>
  </div>
