<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Metadata Records?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        A metadata record is a specialized type of CKAN dataset encapsulating a
        JSON metadata dictionary that describes a digital object. The metadata
        dictionary may be validated against one or more metadata schemas.
      {% endtrans %}
    </p>
  </div>
</div>