{#
Display a grid of metadata_record items.

metadata_records - A list of metadata_records.
organization_id - owner org id or name
metadata_collection_id - collection id or name

Example:

    {% snippet "metadata_record/snippets/metadata_record_list.html" %}

#}
{% block metadata_record_list %}
  <table class="table table-header table-hover table-bordered" id="metadata-records-table">
    <thead>
      <tr>
        <th colspan="3">{{ _('DOI') }}</th>
        <th colspan="3">{{ _('SID') }}</th>
        <th colspan="5">{{ _('Title') }}</th>
        <th colspan="1">{{ _('Valid') }}</th>
        <th colspan="3">{{ _('Status') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for metadata_record in metadata_records %}
      <tr>
        <td colspan="3"><a href="{% url_for controller='ckanext.metadata.controllers.metadata_record:MetadataRecordController',
                                    action='read', id=metadata_record.id, organization_id=organization_id, metadata_collection_id=metadata_collection_id %}">
          {{ metadata_record.doi }}
        </a></td>
        <td colspan="3"><a href="{% url_for controller='ckanext.metadata.controllers.metadata_record:MetadataRecordController',
                                    action='read', id=metadata_record.id, organization_id=organization_id, metadata_collection_id=metadata_collection_id %}">
          {{ metadata_record.sid }}
        </a></td>
        <td colspan="5">{{ metadata_record.title }}</td>
        <td colspan="1">
          {% if metadata_record.validated %}
            {% if metadata_record.errors == '{}' %}
              <i class="fa fa-check"></i>
            {% else %}
              <i class="fa fa-times"></i>
            {% endif %}
          {% else %}
            <i class="fa fa-question"></i>
          {% endif %}
        </td>
        <td colspan="3">{{ metadata_record.workflow_state }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
