{% ckan_extends %}

{% set nav_tabs = [('organizations_index', _('Organizations'), 'organization_list')] %}
{% if 'roles' in g.plugins %}
  {% set nav_tabs = nav_tabs + [('role_index', _('Roles'), 'role_list')] %}
{% endif %}
{% if 'metadata_infrastructure_ui' in g.plugins %}
  {% set nav_tabs = nav_tabs + [('infrastructure_index', _('Infrastructures'), 'infrastructure_list')] %}
{% endif %}
{% set nav_tabs = nav_tabs + [
    ('metadata_standard_index', _('Standards'), 'metadata_standard_list'),
    ('workflow_state_index', _('Workflows'), 'workflow_state_list'),
    ('home.about', _('About')) ]
%}

{% block header_site_navigation_tabs %}
  {{ h.build_nav_main(*nav_tabs) }}
{% endblock %}
