{% extends "metadata_standard/edit_base.html" %}

{% block page_primary_action %}
  {% link_for _('Back to attribute mappings'), controller='ckanext.metadata.controllers.metadata_standard:MetadataStandardController',
    action='attr_maps', id=c.metadata_standard.name, class_='btn pull-right', icon='arrow-left' %}
{% endblock %}

{% block page_heading %}
  {{ _('Edit Attribute Mapping') if action == 'edit' else _('Create Attribute Mapping') }}
{% endblock %}

{% block secondary_content %}
  {{ super() }}
  {% snippet "metadata_standard/snippets/attr_map_info.html" %}
{% endblock %}
