{% extends "page.html" %}

{% block subtitle %}{{ c.metadata_standard.display_name }} - {{ _('Metadata Standards') }}{% endblock %}

{% block breadcrumb_content %}
  {% snippet "metadata_standard/snippets/breadcrumb_content_outer.html" %}
  {% snippet "metadata_standard/snippets/breadcrumb_content_item.html" %}
{% endblock %}

{% block content_action %}
  {% if h.check_access('metadata_standard_update', {'id': c.metadata_standard.id}) %}
    {% link_for _('Manage'), controller='ckanext.metadata.controllers.metadata_standard:MetadataStandardController',
      action='edit', id=c.metadata_standard.name, class_='btn', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('metadata_standard_read', _('Metadata Schemas'), id=c.metadata_standard.name) }}
  {{ h.build_nav_icon('metadata_standard_activity', _('Activity Stream'), id=c.metadata_standard.name, offset=0) }}
  {{ h.build_nav_icon('metadata_standard_about', _('About'), id=c.metadata_standard.name) }}
{% endblock %}

{% block secondary_content %}
  {% snippet "metadata_standard/snippets/info.html", metadata_standard=c.metadata_standard %}
{% endblock %}
