<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Workflow States?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        A workflow state represents the degree of readiness for publishing of a metadata record.
        In order to transition to a particular workflow state, a metadata record must satisfy all
        the criteria defined in the JSON schema for that state.
      {% endtrans %}
    </p>
  </div>
</div>