<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Projects?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        Projects are "super collections" that provide a way to aggregate published metadata collections
        sourced from multiple institutions within search catalogues. A given metadata collection may be
        linked with any number of projects.
      {% endtrans %}
    </p>
  </div>
</div>