{% extends "page.html" %}

{% block breadcrumb_content %}
  {% snippet "metadata_record/snippets/breadcrumb_content_outer.html" %}
  {% snippet "metadata_record/snippets/breadcrumb_content_item.html" %}
  {% snippet "metadata_record/snippets/breadcrumb_content_manage.html" %}
{% endblock %}

{% block page_primary_action %}{% endblock %}

{% block primary_content_inner %}
  <h1 class="{% block page_heading_class %}page-heading{% endblock %}">{% block page_heading %}{{ _('Metadata Record Form') }}{% endblock %}</h1>
  {% block form %}
    {{ c.form | safe }}
  {% endblock %}
{% endblock %}

{% block content_action %}
  {% link_for _('View'), controller='ckanext.metadata.controllers.metadata_record:MetadataRecordController',
    action='read', id=c.metadata_record.id, organization_id=c.organization.name, metadata_collection_id=c.metadata_collection.name, class_='btn', icon='eye' %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('metadata_record_edit', _('Edit'), id=c.metadata_record.id, organization_id=c.organization.name, metadata_collection_id=c.metadata_collection.name) }}
  {{ h.build_nav_icon('metadata_record_validate', _('Validate'), id=c.metadata_record.id, organization_id=c.organization.name, metadata_collection_id=c.metadata_collection.name) }}
  {{ h.build_nav_icon('metadata_record_workflow', _('Workflow'), id=c.metadata_record.id, organization_id=c.organization.name, metadata_collection_id=c.metadata_collection.name) }}
{% endblock %}

{% block secondary_content %}
  {% snippet "metadata_record/snippets/info.html", metadata_record=c.metadata_record, metadata_standard=c.metadata_standard, workflow_state=c.workflow_state %}
{% endblock %}
