{% extends "metadata_record/edit_base.html" %}

{% block subtitle %}
  {{ _('Validation') }} - {{ c.metadata_record.display_name }} - {{ _('Metadata Records') }}
{% endblock %}

{% block page_primary_action %}

  {% if not c.metadata_record.validated and h.check_access('metadata_record_validate', {'id': c.metadata_record.id}) %}
    <p>{{ _('This metadata record has not been validated. Click the button below to validate it against the listed schema(s).') }}</p>
    <a class="btn btn-primary" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to validate this metadata record?') }}"
       href="{% url_for controller='ckanext.metadata.controllers.metadata_record:MetadataRecordController', action='validate', id=c.metadata_record.id, organization_id=c.organization.name, metadata_collection_id=c.metadata_collection.name %}">
      <i class="fa fa-check"></i> {{ _('Validate') }} {{ _('Metadata Record') }}</a>

  {% elif c.metadata_record.validated and h.check_access('metadata_record_invalidate', {'id': c.metadata_record.id}) %}
    <p>{{ _('This metadata record has already been validated. Click the button below to mark it as not validated.') }}</p>
    <a class="btn btn-primary btn-danger" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to invalidate this metadata record?') }}"
       href="{% url_for controller='ckanext.metadata.controllers.metadata_record:MetadataRecordController', action='invalidate', id=c.metadata_record.id, organization_id=c.organization.name, metadata_collection_id=c.metadata_collection.name %}">
      <i class="fa fa-times"></i> {{ _('Invalidate') }} {{ _('Metadata Record') }}</a>

  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <hr>
  <h1 class="page-heading">{{ _('Validation Schema List') }}</h1>
  <p>{{ _('The following metadata schema(s) will be used to validate this metadata record:') }}</p>
  {% block schema_list %}
    {% if c.page.items %}
      {{ h.snippet('metadata_schema/snippets/metadata_schema_list.html', metadata_schemas=c.page.items) }}
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ c.page.pager(q=c.q) }}
  {% endblock %}
{% endblock %}
