{% extends "group/activity_stream.html" %}

{# Boilerplate code to override "group/read_base.html" #}

{% block subtitle %}{{ h.get_translated(c.group_dict, 'title') or c.group_dict.display_name }} - {{ _('Infrastructures') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Infrastructures'), named_route='/infrastructure' %}</li>
  <li class="active">{% link_for h.get_translated(c.group_dict, 'title') or c.group_dict.display_name |truncate(35),
    controller='ckanext.metadata.controllers.infrastructure:InfrastructureController', action='read', id=c.group_dict.name %}</li>
{% endblock %}

{% block content_action %}
  {% if h.check_access('infrastructure_update', {'id': c.group_dict.id}) %}
    {% link_for _('Manage'), controller='ckanext.metadata.controllers.infrastructure:InfrastructureController',
      action='edit', id=c.group_dict.name, class_='btn', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('infrastructure_read', _('Datasets'), id=c.group_dict.name) }}
  {{ h.build_nav_icon('infrastructure_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
  {{ h.build_nav_icon('infrastructure_about', _('About'), id=c.group_dict.name) }}
{% endblock %}
