{% extends "group/edit.html" %}

{% block breadcrumb_content %}
  {% snippet "infrastructure/snippets/breadcrumb_content_outer.html" %}
  {% snippet "infrastructure/snippets/breadcrumb_content_item.html" %}
  {% snippet "infrastructure/snippets/breadcrumb_content_manage.html" %}
{% endblock %}

{% block page_heading_class %}hide-heading{% endblock %}
{% block page_heading %}{{ _('Edit Project') }}{% endblock %}

{% block content_action %}
  {% snippet "infrastructure/snippets/group_action_view.html" %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('infrastructure_edit', _('Edit'), id=c.group_dict.name) }}
  {{ h.build_nav_icon('infrastructure_members', _('Members'), id=c.group_dict.name) }}
{% endblock %}

{% block secondary_content %}
  {% snippet "infrastructure/snippets/info.html", group=c.group_dict, show_nums=false %}
{% endblock %}
