{% extends "group/new.html" %}

{% block page_heading %}{{ _('Create an Infrastructure') }}{% endblock %}
{% block subtitle %}{{ _('Create an Infrastructure') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{{ h.nav_link(_('Infrastructures'), controller='ckanext.metadata.controllers.infrastructure:InfrastructureController', action='index') }}</li>
  <li class="active">
    {% block breadcrumb_link %}
      {{ h.nav_link(_('Create an Infrastructure'), controller='ckanext.metadata.controllers.infrastructure:InfrastructureController',
        action='new', id=c.infrastructure.name) }}
    {% endblock %}
  </li>
{% endblock %}

{% block secondary_content %}
  {% snippet "infrastructure/snippets/helper.html" %}
{% endblock %}
