{% extends "page.html" %}

{% block subtitle %}{{ h.get_translated(c.infrastructure, 'title') or c.infrastructure.display_name }} - {{ _('Infrastructures') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Infrastructures'), controller='ckanext.metadata.controllers.infrastructure:InfrastructureController',
    action='index' %}</li>
  <li class="active">{% link_for h.get_translated(c.infrastructure, 'title') or c.infrastructure.display_name |truncate(35),
    controller='ckanext.metadata.controllers.infrastructure:InfrastructureController',
    action='read', id=c.infrastructure.name %}</li>
{% endblock %}

{% block content_action %}
  {% if h.check_access('infrastructure_update', {'id': c.infrastructure.id}) %}
    {% link_for _('Manage'), controller='ckanext.metadata.controllers.infrastructure:InfrastructureController',
      action='edit', id=c.infrastructure.name, class_='btn', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('infrastructure_read', _('Datasets'), id=c.infrastructure.name) }}
  {{ h.build_nav_icon('infrastructure_activity', _('Activity Stream'), id=c.infrastructure.name, offset=0) }}
  {{ h.build_nav_icon('infrastructure_about', _('About'), id=c.infrastructure.name) }}
{% endblock %}

{% block secondary_content %}
  {% snippet "infrastructure/snippets/info.html", infrastructure=c.infrastructure %}
{% endblock %}

{% block links %}
  {{ super() }}
  {% include "group/snippets/feeds.html" %}
{% endblock %}
